#app > footer {
    min-height:300px;
    margin-top:80px;
    background: #14161c;
    border-top: 2px solid #1a1b21;
    width:100%;
    @include flex-column(flex-start,flex-start);
    & > .wrapper {
        flex:1;
        width:100%;
    }
    .copyright {
        background: #12141a;
        padding: 20px 0;
        font-size: 12px;
        border-top: 2px solid #161922;
        color: rgba(0,0,0,.4);
        width:100%;
        .wrapper {
            @include flex-row(flex-start,center);
            width:100%;
            color:#fff;
            font-weight: 700;
        }
    }
    .footer-grid {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        padding:30px 0;
        .title {
            font-weight:bold;
            padding-bottom:20px;
        }
        ul {
            margin:0;
            padding:0;
            li {
                list-style: none;
                padding-bottom:10px;
                a {
                    color:#fff;
                }
            }
        }
    }
    .footer-logo {
        width:100px;
        height:150px;
        background:url(../images/logo.png) no-repeat center;
        background-size:cover;
    }
}