#app > header {
    height:390px;
    width:100%;
    position: relative;
    overflow: hidden;
    background:#222131;
    .header-content {
        position:absolute;
        top:0;
        left:0;
        z-index: 2;
        width:100%;
        height:100%;
        @include flex-column(flex-start,flex-start);
        .top-bar {
            width:100%;
            height:80px;
            .wrapper {
                width:100%;
                @include flex-row(space-between,center);
                padding-top:20px;
                .language {
                    background: rgba(0, 0, 0, 0.2);
                    box-shadow: 0 3px 6px -1px rgba(0,0,0,.065);
                    padding: 10px 15px;
                    font-size: 13px;
                    color: #fff;
                    border-radius: 6px;
                    @include flex-row(flex-start,center);
                    span {
                        padding:0 5px;
                        cursor:default;
                    }
                    .langs {
                        font-weight: 700;
                        cursor:pointer;
                        &:hover {
                            color:#f36e00;
                        }
                    }
                }
                .cart {
                    background: rgba(0, 0, 0, 0.2);
                    box-shadow: 0 3px 6px -1px rgba(0,0,0,.065);
                    padding: 10px 15px;
                    font-size: 13px;
                    color: #fff;
                    border-radius: 6px;
                    @include flex-row(flex-start,center);
                    font-weight: 700;
                    cursor:pointer;
                    &:hover {
                        background:#fff;
                        color:#f36e00;
                    }
                    i {
                        margin-left:10px;
                    }
                }
            }
        }
        .bar {
            width:100%;
            height:80px;
            background:url(../images/header-bar-bg.png) no-repeat center center;
            border-top:rgba(255,255,255,.08) 1px solid;
            margin-top:auto;
            .wrapper {
                @include flex-row(center, center);
                height:80px;
                text-shadow: 0 3px 5px rgba(0,0,0,.15);
                .logo-wrap {
                    position: relative;
                    width:300px;
                    margin:0 20px;
                    height:80px;
                    .logo {
                        position: absolute;
                        bottom:-7px;
                        left:0;
                        width:300px;
                        height:300px;
                        background: url(../images/logo.png) no-repeat 0 0;
                    }
                }
                .discord-wrap, .stats-wrap {
                    height:80px;
                    @include flex-row(flex-start,center);
                    cursor:pointer;
                    .mdi {
                        margin-right: 30px;
                        position: relative;
                        top: 1px;
                        color: #fff;
                        font-size: 42px;
                    }
                    .content {
                        text-transform: uppercase;
                        .title {
                            font-size: 20px;
                            color: #fff;
                            font-weight: 700;
                        }
                        .subtitle {
                            color: #f36e00;
                            font-size: 12px;
                            letter-spacing: 1px;
                            font-weight: 700;
                        }
                    }
                }
                .stats-wrap {
                    .mdi {
                        margin-left: 30px;
                        margin-right:0;
                    }
                    .content {
                        text-align:right;
                    }
                }
            }
        }
    }
    .overflow1 {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        width:100%;
        height:100%;
        background:url(../images/bg.jpg) no-repeat 50% 30%;
        background-size: cover;
        filter: blur(4px);
        -webkit-filter: blur(4px);
        box-sizing: border-box;
        opacity: .8;
    }
    .overflow {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        width:100%;
        height:100%;
        box-sizing: border-box;
        .circles{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding:0;
            margin:0;
            background:rgba(0,0,0,.3);
        }
        
        .circles li{
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate 25s linear infinite;
            bottom: -150px;
            
        }
        
        .circles li:nth-child(1){
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
            background:url(../images/obsidian-block.png) no-repeat center;
            background-size:cover;
        }
        
        
        .circles li:nth-child(2){
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
            background:url(../images/diamond-ore-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(3){
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
            background:url(../images/tnt-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(4){
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
            background:url(../images/melon-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(5){
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
            background:url(../images/grass-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(6){
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
            background:url(../images/spawner-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(7){
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
            background:url(../images/grass-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(8){
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
            background:url(../images/light-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(9){
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
            background:url(../images/spawner-block.png) no-repeat center;
            background-size:cover;
        }
        
        .circles li:nth-child(10){
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
            background:url(../images/bookshelf-block.png) no-repeat center;
            background-size:cover;
        }
    }
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}