#product {
    padding-top:30px;
    & > .wrapper {
        @include flex-row(flex-start,flex-start);
        main {
            width:100%;
            padding:0;
        }
    }
    .clickable {
        cursor:pointer;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .product-grid {
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 20px;
        .product-image {
            width:200px;
            height:200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 6px;
        }
        .actions {
            @include flex-column(space-between,flex-start);
            h1 {
                text-align:left;
            }
        }
        .options {
            text-align:right;
        }
        .action-buttons {
            @include flex-row(flex-start,center);
        }
        .quantity {
            @include flex-row(flex-start,flex-start);
            width:122px;
            height:42px;
            border-radius: 6px;
            background: #191b21;
            margin-right:10px;
            .minus {
                width:32px;
                height:42px;
                @include flex-row(center,center);
                border-right:rgba(255,255,255,.08) 1px solid;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                cursor:pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &:hover {
                    background:#d06207;
                }
            }
            .plus {
                width:32px;
                height:42px;
                @include flex-row(center,center);
                border-left:rgba(255,255,255,.08) 1px solid;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                cursor:pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &:hover {
                    background:#d06207;
                }
            }
            .input {
                @include flex-row(center,center);
                height:42px;
                flex:1;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
    .features-list {
        margin-top:0;
        padding-top:0;
        li {
            padding-bottom:5px;
        }
    }
}
.custom-template {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 13px;
    margin: 5px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    &, & > div {
        box-sizing: border-box;
    }
    background: #E8F9F0;
    border: 2px solid #D0F2E1;
.custom-template-icon {
    flex: 0 1 auto;
    color: #15C371;
    font-size: 32px;
    padding: 0 10px;
}
.custom-template-close {
    flex: 0 1 auto;
    padding: 0 20px;
    font-size: 16px;
    opacity: 0.2;
    cursor: pointer;
    &:hover {
    opacity: 0.8;
    }
}
.custom-template-content {
    padding: 10px;
    flex: 1 0 auto;
    .custom-template-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    }
}
}
.v-fade-left-enter-active,
.v-fade-left-leave-active,
.v-fade-left-move {
    transition: all .5s;
}
.v-fade-left-enter,
.v-fade-left-leave-to {
    opacity: 0;
    transform: translateX(-500px) scale(0.2);
}
.cart-modal-content {
    @include flex-row(flex-start,center);
    padding-top:20px;
    .icon-cart {
        width:150px;
        height:200px;
        background:#fff url(../images/cart.jpg) no-repeat center;
        background-size: cover;
        border-radius: 6px;
        margin-right:20px;
    }
}