.text-center {
    text-align:center;
}
.text-left {
    text-align:left;
}
.text-right {
    text-align:right;
}

strong {
    font-weight:700;
}

.color-orange {
    color:#f36e00;
}

h1 {
    font-size:22px;
    font-weight:700;
    text-transform: uppercase;
    color:#fff;
    margin:0;
    padding:0;
    span {
        color:#f36e00;
    }
}
h2 {
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
    color:#fff;
    margin:0;
    padding:0;
    span {
        color:#f36e00;
    }
}

button {
    background:#fff;
    border:0;
    padding: 13px 20px;
    border-radius: 6px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover {
        background:#dedede;
        box-shadow: 0 4px 7px -2px rgba(0,0,0,.2);
    }
    &.button-orange {
        background:#f36e00;
        color:#fff;
        &:hover {
            background:#d06207;
            box-shadow: 0 4px 7px -2px rgba(0,0,0,.2);
        }
    }
}