@import 'mixins';
@import 'variables';
@import 'typography';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/sidebar';
@import 'partials/home';
@import 'partials/shop';
@import 'partials/product';
@import 'partials/cart';


body {
    padding:0;
    margin:0;
    background:#16181e url(../images/global-bg.png) repeat center;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.42857143;
    box-sizing: border-box;
}
main {
    padding:30px 0;
}
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
    padding-right: 10px;
    padding-left:  10px;
}

.card {
    border: none;
    background: #24262e;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 7px -2px rgba(0,0,0,.2);
    box-shadow: 0 4px 7px -2px rgba(0,0,0,.2);
    padding:30px;
    position: relative;
}

.text-input {
    border-radius: 6px;
    background: #191b21;
    border:0;
    margin-right:10px;
    color:#fff;
    height:40px;
    padding:0 10px;
    text-align:center;
    border:#191b21 1px solid;
    transition: all .5s ease-in-out;
    &:focus {
        border:#c15801 1px solid;
        outline: 0px;
    }
}

.mt-10 {margin-top:10px;}
.ml-10 {margin-left:10px;}
.mr-10 {margin-right:10px;}
.mb-10 {margin-bottom:10px;}
.mt-20 {margin-top:20px;}
.ml-20 {margin-left:20px;}
.mr-20 {margin-right:20px;}
.mb-20 {margin-bottom:20px;}
.mt-30 {margin-top:30px;}
.ml-30 {margin-left:30px;}
.mr-30 {margin-right:30px;}
.mb-30 {margin-bottom:30px;}

.pt-10 {padding-top:10px;}
.pl-10 {padding-left:10px;}
.pr-10 {padding-right:10px;}
.pb-10 {padding-bottom:10px;}
.pt-20 {padding-top:20px;}
.pl-20 {padding-left:20px;}
.pr-20 {padding-right:20px;}
.pb-20 {padding-bottom:20px;}
.pt-30 {padding-top:30px;}
.pl-30 {padding-left:30px;}
.pr-30 {padding-right:30px;}
.pb-30 {padding-bottom:30px;}
.pt-40 {padding-top:40px;}
.pl-40 {padding-left:40px;}
.pr-40 {padding-right:40px;}
.pb-40 {padding-bottom:40px;}

.notification__item--warning {
    background-color: #f36e00 !important;
    border-left: 8px solid #c15801 !important;
    .notification__timer {
        background-color: #c15801 !important;
    }
}

main {
    .vm--modal {
        background:#24262e;
        border-radius: 6px;
        -webkit-box-shadow: 0 4px 7px -2px rgba(0,0,0,.2);
        box-shadow: 0 4px 7px -2px rgba(0,0,0,.2);
        border:#c15801 1px solid;
        padding:20px;
        @include flex-column(flex-start,flex-start);
    }
    .modal-title {
        width:100%;
        text-align:center;
        font-size:1.714em;
        font-weight:700;
        @include flex-row(flex-start,center);
        .title {
            flex:1;
            text-align:center;
            padding-left:14px;
        }
        .close-modal {
            margin-left:auto;
            cursor:pointer;
            svg {
                path {
                    fill:#fff;
                }
                &:hover {
                    path {
                        fill:#c15801;
                    }
                }
            }
        }
    }
    .modal-content {
        flex:1;
        width:100%;
        p {
            width:100%;
        }
        &.image {
            text-align:center;
            img {
                max-width:100%;
                height:auto;
                display:inline-block;
            }
        }
    }
    .modal-footer {
        padding-top:20px;
        width:100%;
        @include flex-row(center,center);
    }
}
